@import "neat-helpers";
//Visual Grid Colors
$neat-orange: #ff7c56;

$grid-columns: 12;
$max-width: 1920px;

$visual-grid-color: $neat-orange;
$visual-grid-opacity: 0.2;
// $visual-grid: true;

$medium-screen: 600px;
$large-screen: 900px;
