@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "base/base";
@import "grid-settings";
@import "neat";
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface';
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900';
@import "base/type_system_sans";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/navbar";
@import "components/hero_unit";
@import "components/about_me";
@import "components/projects";
@import "components/modal";
@import "components/badges";
@import "components/connect";
@import "components/footer";

.full-height-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 2em;

  @include media($medium-screen) {
    margin: 0;
    section {
      @include span-columns(5);
      @include shift(3.5);
    }
  }

}
