@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "base/base";
@import "grid-settings";
@import "neat";
@import "base/type_system_sans";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/navbar";
@import "components/hero_unit";
@import "components/about_me";
@import "components/projects";
@import "components/modal";
@import "components/badges";
@import "components/connect";
@import "components/footer";

.main {
  @include outer-container;
  margin: ($base-spacing * 4) $base-spacing;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main > section {
  @include media($medium-screen) {
    @include span-columns(5);
    @include shift(3.5);
  }
}
