<section class="about-me">
  <article class="type-system-sans">
    <p class="type">Background</p>
    <h1>A Bit About Me</h1>
    <h3>Who I Am</h3>
    <!-- <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, perferendis! Odit quisquam <code>code block</code> dicta illum ipsa quod natus iure aliquid necessitatibus veritatis, itaque magnam aliquam, dolorum nostrum nemo, explicabo perspiciatis nobis!</h2> -->
    <!-- <p class="date">30 Mar 2014</p> -->
    <p>
      I'm a builder. Problem solver. Traveler. Photographer. Skier. Native Texan, former Chicagoan, and happy to call myself a Californian. I'm a lover of learning, design, innovation, novel solutions, and keeping it simple. <span>Roller up of sleeves. Writer of code.</span>
    </p>
    <!-- <h3>Subheading lorem</h3> -->
    <p>
      My past experience in arts administration has shown me that idealism and pragmatism can exist together, often with great success. I bring this mindset to my work as a developer and I am driven by the desire to <span>build things that bring joy and utility to peoples' lives.</span>
    </p>

    <h3>What I Do</h3>
    <p>
      Here's the things I know and I'm good at...
      <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <hr>
  </article>
</section>
