<main class="main-content connect-container" id="connect">
  <section>
    <article class="type-system-sans">
      <h1>Let's Get In Touch</h1>
      <p>
        I'd love to hear from you so go ahead and drop me a line! We can connect on LinkedIn, Github, Instagram, or via good ol' fashioned email.
      </p>
    </article>
    <div class="contact-methods">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/shawnrodriguez" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://github.com/officiallysrod" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/officiallysrod" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="mailto:info@officiallyshawn.com?subject=Hi there">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
              <i class="fa fa-envelope-o fa-stack-1x"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
