<footer class="footer" role="contentinfo">
  <ul>
    <li class="nav-link"><%= link_to "<i class='fa fa-angle-up'></i>", "#top", class: "scroll-on-page-link" %></li>
    <li><%= link_to "about me", "#about-me", class: "scroll-on-page-link" %></li>
    <li><%= link_to "projects", "#projects", class: "scroll-on-page-link" %></li>
    <li><%= link_to "connect", "#connect", class: "scroll-on-page-link" %></li>
  </ul>
</footer>
