<div class="hero">
  <div class="hero-content">
    <header>
      <h1>Hi, I'm Shawn and I'm a developer. <span class="blinking-cursor">▍</span></h1>
    </header>
    <article class="type-system-sans">
      <h3>Who I Am</h3>
      <p>
        I'm a builder. Problem solver. Traveler. Photographer. Skier. Native Texan, former Chicagoan, and happy to call myself a Californian. I'm a lover of learning, design, innovation, novel solutions, and keeping it simple.
      </p>
      <p class="tagline">
        <span>Roller up of sleeves. Writer of code.</span>
      </p>
      <%= link_to "Learn More", "#about-me", class: "scroll-on-page-link" %>
    </article>
  </div>
</div>
