<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="#top" class="scroll-on-page-link logo">
      shawn rodriguez<br>full stack developer
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "about me", "#about-me", class: "scroll-on-page-link" %></li>
        <li class="nav-link"><%= link_to "projects", "#projects", class: "scroll-on-page-link" %></li>
        <li class="nav-link"><%= link_to "connect", "#connect", class: "scroll-on-page-link" %></li>
      </ul>
    </nav>
  </div>
</header>
