<main class="projects-container" id="projects">
  <section>
    <article class="type-system-sans">
      <p class="type">Projects</p>
    </article>

    <div class="projects xflex-boxes">
      <% data.projects.each_with_index do |project, index| %>
        <%= partial "partials/project", locals: {project: project, index: index} %>
      <% end %>
    </div>
  </section>
</main>
