<div class="project">
  <div class="project-image">
    <img src="<%= project.image_url %>" alt="<=% project.name %>" />
  </div>
  <div class="project-description">
    <article class="type-system-sans">
      <h1><%= project.name %></h1>
      <p><%= project.description %></p>
      <% project.technologies.each do |technology| %>
        <span class="badge-technology"><%= technology %></span>
      <% end %>
    </article>
  </div>
</div>
