<div class="project">
  <div class="project-image">
    <img src="/images/project_assets/imac.png" alt="<=% project.name %>" />
  </div>
  <div class="project-description">
    <article class="type-system-sans">
      <h1><%= project.name %></h1>
      <p><%= project.description %></p>
      <% project.technologies.each do |technology| %>
        <span class="badge-error"><%= technology %></span>
      <% end %>
    </article>
  </div>
</div>
<hr>
