.about-me {
  flex-direction: column;
}

section.body-copy {
  @include outer-container;
  @include margin($base-spacing $small-spacing);
  flex: 2;

  h1,
  span {
    color: $red;
  }

  p:nth-last-child(1) {
    margin-bottom: 0;
  }

  @include media($medium-screen) {
    align-items: center;
    display: flex;

    article {
      @include span-columns(6);
      @include shift(3);
    }
  }

  @include media($large-screen) {
    article {
      @include span-columns(4);
      @include shift(4);
    }
  }
}

section.pull-quote {
  @include padding($small-spacing);
  background: $dark-blue;
  color: $font-color-white;
  width: 100%;

  a {
    border-bottom: 1px dotted $red;
    color: $red;

    &:hover {
      color: darken($red, 10%);
    }
  }

  blockquote {
    @include margin($small-spacing);
  }

  cite {
    align-items: center;
    display: flex;
  }

  img {
    @include size(50px);
    border-radius: 50%;
    display: inline-block;
    margin-right: $base-spacing;
  }

  p {
    font-family: $secondary-font-family;
  }

  span {
    display: block;
  }

  .blockquote-container {
    @include outer-container;
  }

  .quote-attribution {
    display: inline-block;
  }

  @include media($medium-screen) {
    blockquote {
      @include span-columns(8);
      @include shift(2);

      p {
        font-size: 1.1em;
      }

    }
  }

  @include media($large-screen) {
    blockquote {
      @include span-columns(6);
      @include shift(3);
    }
  }
}

@include media($large-screen) {
  .about-me-intro {
    display: none;
  }
}
