.about-me {
  background: image-url("shawn-about-me.jpg");
  background-position: center;
  background-size: cover;

  @include media($medium-screen) {
    background-position: right;
    background-size: cover;

    section {
      @include span-columns(5.5);
      @include shift(0.5);
    }
  }

  @include media($large-screen) {
    section {
      @include span-columns(4);
      @include shift(2.5);
    }

    .about-me-intro {
      display: none;
    }
  }

}

.about-me > section > article > h1,
.about-me > section > article > h3,
.about-me > section > article > p {
  color: $font-color-white;
}
