.connect-container {
  background: image-url("shawn-connect-yellow.jpg");
  background-position: center;
  background-size: cover;

  section {
    @include margin($base-spacing);
    p {
      font-size: 1.2em;
    }
  }

  @include media($medium-screen) {
    background-position: right;
    background-size: cover;

    section {
      @include span-columns(5);
      @include shift(1);
    }
  }

  @include media($large-screen) {
    section {
      @include span-columns(3.5);
      @include shift(2);
    }
  }

}

.connect-container > section > article > h1,
.connect-container > section > article > h2,
.connect-container > section > article > p {
  color: $font-color-white;
}

.contact-methods {
  a {
    color: $yellow;
    transition: color ($base-duration) ease-in;

    &:hover {
      color: $font-color-white;

      .fa-inverse {
        color: lighten($dark-blue, 10%);
      }
    }
  }

  li {
    display: inline;
  }

  .fa-inverse {
    transition: color ($base-duration) ease-in;
  }
}
