.connect-container {
  background: image-url("shawn-connect.jpg");
  background-position: center;
  background-size: cover;

  @include media($large-screen) {
    background-position: left;
    background-size: cover;
  }

}

.connect-container > section > article > h1,
.connect-container > section > article > h2,
.connect-container > section > article > p {
  color: $font-color-white;
}

.contact-methods {
  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    display: flex;
    flex: 1;
    height: 3em;
  }

  a {
    color: $font-color-white;
    flex: 1;
    text-align: center;

    &:hover {
      @include margin(null $base-spacing);
      border-bottom: 5px solid $medium-gray;
      color: $medium-gray;
      padding-bottom: $small-spacing;
    }
  }

}
