.hero {
  align-items: flex-end;
  background: image-url("shawn-hero-unit-red-small.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;
  padding: 2em;

  @include media($medium-screen) {
    align-items: center;
    background: image-url("shawn-hero-unit-red.jpg");
    background-position: left;
    background-size: cover;
  }
}

.hero-content {
  @include span-columns(12);
  color: $font-color-white;

  article {
    display: none;

    a {
      @include margin($base-spacing null null null);
      @include padding(($small-spacing / 3) ($base-spacing * 2));
      border: 1px solid $white;
      color: $font-color-white;
      transition: background-color ($base-duration * 2) ease-in;

      &:hover {
        background: $white;
        color: $red;
      }
    }

    h3 {
      border-bottom: 1px solid $white;
      margin-bottom: $small-spacing;
      padding-bottom: ($small-spacing / 2);
    }

    p {
      @include margin(null null 0 null);
      color: $font-color-white;
    }

    p.tagline {
      @include margin($small-spacing null);
      font-size: 1.1em;
      font-style: italic;
    }
  }

  header {
    @include span-columns(12);

    h1 {
      font-family: $heading-font-family;
      font-size: 2.5em;
    }
  }

  @include media($medium-screen) {
    @include margin(20em null null null);
    header {
      @include span-columns(10 of 12);
      @include shift(1);

      h1 {
        font-size: 4.25em;
      }
    }
  }

  @include media($large-screen) {
    @include margin($base-spacing);
    @include margin(20em null null null);
    align-items: center;
    display: flex;

    article {
      @include span-columns(3);
    }

    header {
      @include span-columns(6);
      @include shift(0.5);

      h1 {
        @include margin(null null 0 null);
        font-size: 4.5em;
        letter-spacing: 2px;
        text-align: left;
      }
    }
  }
}

.blinking-cursor {
  animation: blink 0.7s infinite;
  opacity: 1;

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
}
