.hero {
  align-items: stretch;
  background: image-url("shawn-normal.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;
  padding: 2em;

  @include media($large-screen) {
    background: image-url("shawn-wide.jpg");
    background-position: left;
    background-size: cover;
    min-height: 35em;
  }

  .hero-content {
    @include span-columns(12);
    align-items: flex-end;
    color: $font-color-white;
    display: flex;
    justify-content: center;

    h1 {
      font-size: 2em;
    }

    @include media($large-screen) {
      margin-bottom: ($base-spacing * 2);

      h1 {
        font-size: 4.5em;
      }
    }

  }

}

.typed-cursor {
  animation: blink 0.7s infinite;
  opacity: 1;

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

}
