.projects-container {
  @include outer-container;
  padding: 2em;

  @include media($medium-screen) {
    margin: 0;

    section {
      @include span-columns(8);
      @include shift(2);
    }
  }

}

.project {
  @include clearfix;
  @include margin($base-spacing null);
  @include padding(null null $base-spacing null);

  @include media($medium-screen) {
    &:nth-child(even) {

      .project-image {
        @include margin(null 0 $base-spacing null);
        float: right;
      }
    }
  }
}

.project-name {
  border-bottom: $base-border;
  margin-bottom: 3em;
  text-align: center;

  h2 {
    @include padding(null 10px);
    background: $base-background-color;
    display: inline-block;
    font-family: $secondary-font-family, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    position: relative;
    top: 1.3em;
  }
}

.project-image {
  @include media($medium-screen) {
    @include span-columns(3 of 8);
  }
}

.project-description {
  @include media($medium-screen) {
    @include span-columns(5 of 8);
  }
}
