.projects-container {
  @include outer-container;
  align-items: center;
  display: flex;
  flex: 1;
  padding: 2em;

  @include media($medium-screen) {
    margin: 0;

    section {
      @include span-columns(8);
      @include shift(2);
    }
  }

}

.project {
  @include clearfix;
  @include margin($small-spacing null);

  @include media($medium-screen) {
    @include margin($base-spacing);
  }
}

.project-image {
  @include media($medium-screen) {
    @include span-columns(3 of 8);
  }
}

.project-description {
  @include media($medium-screen) {
    @include span-columns(5 of 8);
  }
}
