---
title: Shawn Rodriguez | Connect
---

<main class="main">
  <section class="connect">
    <article class="type-system-sans">
      <p class="type">Connect</p>
      <h1>Let's Get In Touch</h1>
      <h2>
        I'd love to hear from you so go ahead and drop me a line! We can connect on LinkedIn, Github, Instagram, or via good ol' fashioned email.
      </h2>
    </article>
    <div class="contact-methods">
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/shawnrodriguez" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        </li>
        <li>
          <a href="https://github.com/officiallysrod" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/officiallysrod" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-envelope-o fa-2x"></i></a></li>
      </ul>
    </div>
  </section>
</main>
