---
title: Shawn Rodriguez
landing_page: true
---
<div id="top"></div>

<div class="full-height-container">
  <%= partial "partials/hero_unit" %>
</div>

<div class="full-height-container">
    <%= partial "partials/about_me" %>
</div>

<hr>

<div class="full-height-container">
  <%= partial "partials/projects" %>
</div>

<hr>

<div class="full-height-container">
  <%= partial "partials/connect" %>
</div>
